pandas
matplotlib
numpy
pvlib
shapely # Should be installed with conda
git+https://git@https://github.com/AdamRJensen/twoaxistracking@master#egg=twoaxistracking
# Documentation requirements
sphinx
myst-nb
sphinx-book-theme
