name: Publish distributions to PyPI

# if this workflow is modified to be a generic CI workflow then
# add an if statement to the publish step so it only runs on tags.
on:
  push:
    tags:
      - "v*"

jobs:
  build-n-publish:
    name: Build and publish distributions to PyPI
    if: github.repository == 'pvlib/twoaxistracking'
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read  # This is required for actions/checkout
    steps:
    # fetch all commits and tags so versioneer works
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install build tools
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools wheel build
    - name: Build packages
      run: python -m build --sdist --wheel

    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_PASSWORD }}